body, h1, h2, ul, dl, dd {
  margin: 0;
  padding:0;
}
/* 내가 설정하지 않은 margin, padding 등을 초기화 */

li{
  list-style-type:none;
}

body {
  background-color: #0a222b;
  text-align: center;
}

.wrapper {
  padding: 0 20px;
}

.cover {
  background-image : url(images/cover.png);
  color:aliceblue;
  padding-top: 20%;
  padding-bottom: 10%;
  text-align: center;
  background-size: cover;
  /* 보통 backbround-size 사진이 찌그러지지 않도록 cover을 많이쓴다 */
  background-position: bottom;
  /* position도 center을 많이쓰지만, 이번에는 산비탈을 보이기위하여 bottom */
}

.cover-title {
  font-size: 20vw;
  /* 픽셀로 맞추면 pc~mobile 마다 바꾸어줘야됨 */
  /* viewport의 (weight)너비기준의 10% => 10vw */
  font-family: 'Yellowtail', cursive;
  font-weight: normal;
  line-height:1;
  /* 행간을 맞춤 */
  font-style:italic;
}

.cover-title span {
  font-family: 'arial';
  font-size: 0.2em;
  /* 부모의 폰트 사이즈를 상속받는데, cover-title 의 폰트사이즈가 10vw 이니까
  그에 비례에서 움직인다. 0.5em => 절반 */
  display: block;
  text-indent: 3em;
  /* 들여쓰기 */
}

.timeline-item{
  margin-top: 70px;
}

.card { 
  background-color: rgba(0,0,0,0.5);
  color: #999;
  padding: 20px;
  /* 마진 겹침 현상을 상쇄하기 위하여 padding:20px 를 주었다.
  overplow:hidden 이나 border을 주는 방법도 있다. */
  border-radius: 30px;
}

.card-icon {
  width: 100px;
  height: auto;
  vertical-align:top;
  /* position: relative;
  top: -50px; */
  /* transform: translateY(-50%); */
  /* 나의 높이의 -50%만큼 올린다 */
  margin-top:-70px;
}

.card-title {
  font-size: 20vw;
  color: dodgerblue;
  font-family: "impact";
  line-height: 1;
  margin: 20px;
}

.card-definition {
  margin:20px;
}

.card-definition dt{
  font-size: 25px;
  color: #ddd;
  margin-bottom: 20px;
}

.card-definition dt span{
  color: dodgerblue;
  display: block;
  font-size: 0.5em;
}

.card-definition dd {

}